.projects {
  position: relative;

  &.project-overlay-visible {
    overflow: hidden;

    .project-overlay {
      visibility: visible;
    }
  }

  .project-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 20px 50px;
    overflow-y: hidden;
    height: auto;
    transition: transform 700ms $ease-expo-out;
    will-change: transform;
    transform: translateY(100%);
    visibility: hidden;

    .project-content {
      display: none;

      &.is-visible {
        display: block;
      }

      .project-role {
        text-transform: uppercase;
        padding: 5px 0 15px;
        font-size: 20px;
      }

      .project-link {
        text-transform: uppercase;
        padding-top: 20px;
        transition: color 500ms ease-out;

        &:hover {
          color: $c-pink-bright;
        }

        span {
          padding: 0 10px;
          font-size: 20px;
        }
      }
    }

    .image-container {
      @include size(100%, auto);

      img {
        width: 100%;
        height: auto;
        margin: 0 0 20px;
      }
    }
  }

  @include breakpoint(sm) {
    .project-overlay {
      padding: 60px 30px 70px;

      .project-content {
        &.is-visible {
          display: flex
        }
      }
    }
  }
}
