.heading-01,
.heading-02,
.heading-03 {
  font-family: 'Roboto', sans-serif;
  color: $c-pink-dark;
  margin: 0;
  font-weight: 600;
}

.heading-01 {
  font-size: 30px;
  letter-spacing: -1px;
}

.heading-02 {
  font-size: 26px;
}

.heading-03 {
  font-size: 16px;
}

.copy-01 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  color: $c-grey-dark;
  padding-bottom: 10px;
}

a,
.link-01 {
  text-decoration: none;
  color: $c-pink-dark;
  font-weight: 600;
  transition: color 500ms ease-out;
  cursor: pointer;

  &:hover {
    color: $c-pink-bright;
  }
}

@include breakpoint(md) {
  .heading-01 {
    font-size: 38px;
    letter-spacing: .8px;
  }

  .heading-02 {
    font-size: 30px;
  }

  .heading-02,
  .heading-03 {
    letter-spacing: .5px;
  }

  .copy-01 {
    font-size: 17px;
  }
}



