@include keyframe(title-top-down) {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  1% {
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
  }
}

.section {
  height: auto;
  padding: 20px 20px 0;
  overflow: hidden;

  .heading-02 {
    padding-bottom: 20px;
  }

  &.home {
    height: 100vh;
    background-color: rgba(255, 219, 225, 1);
    padding: 0 20px;

    .container {
      max-width: 500px;
      margin: 0 auto;
    }

    .image-container {
      img {
        @include size(100%, auto);
      }
    }

    .heading-01 {
      font-size: 44px;
      text-align: center;
      margin: 30px 0;
      @include animation(title-top-down, 1s, .5s, backwards);
    }

    .heading-03 {
      font-size: 22px;
      padding: 20px 0;
      @include animation(title-top-down, 1s, 1.2s, backwards);

      span {
        font-weight: 300;
      }
    }

    .fa-chevron-down {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      transition: transform 700ms $ease-expo-out;

      &:hover {
        transform: translateY(15%) translate(-50%);
      }
    }
  }

  &.about {
    padding: 40px 20px 0;

    .copy-01 {
      span {
        font-weight: 600;
        color: $c-pink-dark;

        &.intro {
          text-transform: uppercase;
        }
      }
    }
  }

  &.projects {
    padding: 20px 20px 30px;
  }

  @include breakpoint(sm) {
    display: flex;
    padding: 40px 30px;

    .heading-02 {
      padding-bottom: 0;
    }

    .col-left,
    .col-right {
      width: 50%;
      display: inline-block;
    }

    &.home {
      padding: 0;

      .container {
        max-width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .image-container {
        max-width: 500px;
      }

      .heading-01 {
        font-size: 8.7vw;
        position: absolute;
        text-align: initial;
        margin: 0;
        top: -6vw;
        left: 15px;
      }

      .heading-03 {
        padding: 5px 0;
        text-align: right;

        span {
          display: inline-block;
        }
      }
    }

    &.about {
      padding-top: 60px;
    }

    &.experience {
      .heading-02 {
        span {
          display: block;
        }
      }
    }

    &.projects {
      padding: 40px 30px 50px;
    }
  }

  @include breakpoint(md) {
    max-width: 940px;
    margin: 0 auto;

    &.home {
      max-width: 100%;
    }
  }

  @include breakpoint(xl) {
    max-width: 1040px;

    .image-container {
      max-width: 600px;

      .heading-01 {
        font-size: 110px;
      }
    }
  }
}